* {
    font-family:'Courier New', Courier, monospace;
    text-decoration:none;
    color:rgb(0, 0, 0);
}
    
#section-1{
    /*white-space: pre-line;*/
    padding-top:10px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:10px;
    background-color:#e9cbff;
    color:white;
}

.logo {
    height:60px;
    width:auto;
    border-radius: 12px;
}
.section1image {
    display:flex;
    height:200px;
    width: auto;
    border-radius: 12px;
    flex-wrap: wrap;
}

#header {
    display:flex;
    flex:1;
    justify-content: space-between;
    font-size: 20px;
    flex-wrap: wrap;
    
}

.linkedin-button {
    margin-top: 50px;
    display:block;
    background-color: #88a3e3;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 12px;
}


.below-header {
    display:flex;
    margin-top:20px;
    justify-content:space-between;
    flex-wrap: wrap;
     
}
.heading{
    font-size:30px;
}
.subtext{
    margin-top: 20px;
}

* {
    margin: 0;
    padding: 0;
  }

.s2heading {
    display:flex;
    justify-content:center;
    margin-top:10px;
    color: black;
    font-size: 25px;
    flex-wrap: wrap;
}

.s2img{
    height:120px;
    width:auto;
}

.s2description {
    font-size:20px;
    color:rgb(24, 8, 46);
    margin-top: 10px;
}

.s2box2 {
    display:flex;
    justify-content:space-evenly;
    flex:1;
    margin-top:40px;
    margin-bottom: 25px;
    margin-left:110px;
    margin-right: 110px;
    text-align:center;
    flex-wrap: wrap;
}

#section-2 { 
    margin-bottom: 10px;
    
}

#section-3 {

    display:flex;
    flex:1;
    justify-content: center;
    background-image:url(https://i.pinimg.com/originals/1a/9a/20/1a9a20cc06e7084d35a34f89ce756ad6.gif);
    padding:110px;
    flex-wrap: wrap;
}

.github {
    margin-top:10px;
    background-color: #b26db4;
    /*bc82be*/
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 12px;
}

#section-4 {
    display:flex;
    flex:1;
    flex-direction:row;

    padding-top:30px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;

    background-color:#e9cbff;

    margin-top:5px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;

    justify-content:space-between;
    gap:50px;

    border-radius: 28px;
    flex-wrap: wrap;

}

.text {
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content: space-evenly;
    background-color: #d8abda;
    padding:8px;
    border-radius: 8px;
    flex-wrap: wrap;
    text-align:center;
    

}
.spotify {
    display:flex;
    width:300px;
    height:auto;
    flex-wrap: wrap;
}

.s4heading {
    font-size:20px;
    text-align:center;
}

#footer{
    background-color: bisque;
    text-align: center;
}